body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay:hover {
    opacity: 1;
}

.overlay button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.overlay button:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.overlay button img {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.vote-counts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.vote-counts p {
    margin: 0 10px;
}

.vote-counts p img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}
